.imagen{
    position: relative;
    color:rgb(255, 255, 255);
    margin-top: -100px;
    font-family: 'poppins'

}


.textito{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.textito:hover{
    color: rgb(38, 0, 255);
}

.accordion-button:focus{
    box-shadow: inherit;
}

.accordion-item{
    background-color:#000000;
}

.accordion-button::after{
    filter:brightness(0%) invert(100%);
}

.accordion-button:not(.collapsed){
    color: inherit;
    background-color:#000000;
    color: white;
}

.accordion-button:focus{
    box-shadow: inherit;
}

.img-fluid{
    padding-right:10px ;
}
