.card {
    padding: 20px;
    margin-top: 50px;

}

.carousel {
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}

.container-fluid {
    margin-bottom: 0px;
}

.titulo {
    margin-left: 20px;
    margin-bottom: 0px 0px;
}

.titulos {
    margin-bottom: -70px;
}


/*pie de pagina */

.fondo3{
    background-color: #222222;
    margin-top: 100px;
}

.nombre{
    color: white;
    text-decoration: none;
}

.nombre:hover{
    color: #1ed760;
}

.nombre1{
    color: rgb(189, 189, 189);
}

.contenedor4{
    display: flex;
    float: right;
    

}

.table{
   border: 0px;
}

.pie{
    color: rgb(237, 237, 237);
    font-size: 12px;
    text-align: right;

}

.link1{
    font-size: 13px;
    padding-right: 10px;
    text-decoration: none;
    color: grey;
}

.link1:hover{
    color: #1ed760;
}

.contenedor2{
    text-align: left;
}

.tituloo{
    color: white;
    font-size: 50px;
}

.tituloo2{
    color: rgba(255, 255, 255, 0.801);
    font-size: 30px;

}

.contenedorprincipal{
    background: rgba(255, 255, 255, 0.944);
}

.navegador{
    background-color: rgb(190, 12, 12);
}

.aitem{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.aitem:hover{
    color: rgb(0, 0, 0);
}

.modal-content{
    background-color: black;
}

.textop{
    margin-left: 8px;
}

.titulo{
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.2fr repeat(3, 1fr) 0.2fr;
    grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 3; }
    .div2 { grid-area: 3 / 2 / 4 / 3; }
    .div3 { grid-area: 5 / 2 / 6 / 3; }
    .div4 { grid-area: 7 / 2 / 8 / 3; }
    .div5 { grid-area: 9 / 2 / 10 / 3; }
    .div6 { grid-area: 11 / 2 / 12 / 3; }
    .div7 { grid-area: 13 / 2 / 14 / 3; }
    .div8 { grid-area: 15 / 2 / 16 / 3; }
    .div9 { grid-area: 17 / 2 / 18 / 3; }
    .div10 { grid-area: 19 / 2 / 20 / 3; }
    .div11 { grid-area: 21 / 2 / 22 / 3; }
    .div12 { grid-area: 23 / 2 / 24 / 3; }
    .div13 { grid-area: 25 / 2 / 26 / 3; }
    .div14 { grid-area: 27 / 2 / 28 / 3; }
    .div15 { grid-area: 29 / 2 / 30 / 3; }
    .div16 { grid-area: 31 / 2 / 32 / 3; }
    .div17 { grid-area: 33 / 2 / 34 / 3; }
    .div18 { grid-area: 35 / 2 / 36 / 3; }
    .div19 { grid-area: 37 / 2 / 38 / 3; }
    .div20 { grid-area: 1 / 4 / 14 / 7; }
    
    