.card {
    padding: 20px;
    margin-top: 50px;

}

.carousel {
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}

.container-fluid {
    margin-bottom: 0px;
}

.titulo {
    margin-left: 20px;
    margin-bottom: 0px 0px;
}

.titulos {
    margin-bottom: -70px;
}


/*pie de pagina */

.fondo3{
    background-color: #222222;
    margin-top: 100px;
}

.nombre{
    color: white;
    text-decoration: none;
}

.nombre:hover{
    color: #1ed760;
}

.nombre1{
    color: rgb(189, 189, 189);
}

.table{
   border: 0px;
}

.pie{
    color: rgb(237, 237, 237);
    font-size: 12px;
    text-align: right;

}

.link1{
    font-size: 13px;
    padding-right: 10px;
    text-decoration: none;
    color: grey;
}

.link1:hover{
    color: #1ed760;
}

.contenedor2{
    text-align: left;
}

.tituloo{
    color: white;
    font-size: 50px;
}

.tituloo2{
    color: rgba(255, 255, 255, 0.801);
    font-size: 30px;

}

.contenedorprincipal{
    background: rgba(255, 255, 255, 0.944);
}

.navegador{
    background-color: rgb(190, 12, 12);
}

.aitem{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.aitem:hover{
    color: rgb(0, 0, 0);
}

.modal-content{
    background-color: black;
}

.textop{
    margin-left: 8px;
}

.titulo{
    color: white;
}